.form_radio {
  margin-bottom: 10px;
}
.form_radio input[type=radio] {
  display: none;
}
.form_radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
.form_radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 18px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: url(https://snipp.ru/img/radio-1.png) 0 0 no-repeat;
}

/* Checked */
.form_radio input[type=radio]:checked + label:before {
  background: url(https://snipp.ru/img/radio-2.png) 0 0 no-repeat;
}

/* Hover */
.form_radio label:hover:before {
  filter: brightness(120%);
}

/* Disabled */
.form_radio input[type=radio]:disabled + label:before {
  filter: grayscale(100%);
}

.form {
  width: 150px;
  margin: 0 auto;
}









*, *:before, *:after {
  box-sizing: border-box; }

html {
  overflow-y: scroll; }

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease; }
a:hover {
  color: #179b77; }


.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  text-align: center; }
.tab-group:after {
  content: "";
  display: table;
  clear: both; }
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease; }
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff; }
.tab-group .active a {
  background: #1ab188;
  color: #ffffff; }

.tab-content > div:last-child {
  display: none; }

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px; }

h2 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px; }

.field-wrap label {
  color: rgba(255, 255, 255, 0.5);
}

.field-wrap label .req {
  color: red;
  margin: 2px;
  color: #1ab188; }

.field-wrap label.active {
  color: red;
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

.field-wrap label.active .req {
  color: red;
  opacity: 0;
}

.field-wrap label.highlight {
  color: red;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease; }

input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188; }

.field-wrap {
  position: relative;
  margin-bottom: 40px; }

.top-row:after {
  content: "";
  display: table;
  clear: both; }

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%; }

.top-row > div:last-child {
  margin: 0; }

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none; }

.button:hover, .button:focus {
  background: #179b77;
}

.forgot {
  margin-top: -20px;
  text-align: right; }