<div class="card mb-3">
  <h3 class="card-header">Home Page</h3>
  <div class="card-body">
    <h5 class="card-title">Welcome!</h5>
    <h6 class="card-subtitle text-muted">Brand new...</h6>
  </div>
  <div style="display: flex; justify-content: center">
    <img
      src="https://images.unsplash.com/photo-1638913662380-9799def8ffb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
      class="d-block user-select-none" width="50%"
      style="font-size:1.125rem; text-anchor:middle; border-radius: 5.5px">
  </div>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">First Link</a>
    <a href="#" class="card-link">Second link</a>
  </div>
  <div class="card-footer text-muted">
    Private Policy
  </div>
</div>
